<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        bootstrap="bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="true"
        beStrictAboutOutputDuringTests="true"
>
    <testsuites>
        <testsuite name="CleanTalk Unit Tests">
            <directory suffix=".php">./</directory>
            <exclude>./bootstrap.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../lib/Cleantalk/</directory>
            <exclude>
                <directory>../tests/</directory>
                <directory>../vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
</phpunit>
