#honeypot-field-url {
    display: none !important;
}
.comment-form-cookies-consent {
    width:100%;
    overflow: hidden;
}
.wc_apbct_email_id {
    display: none !important;
}
.apbct_special_filed input[class*="apbct__email_id"]{
    display: none !important;
}