/*.apbct-email-encoder{*/
/*    position: relative;*/
/*}*/
/*.apbct-tooltip{*/
/*    position: relative;*/
/*}*/
/*    .apbct-tooltip--text{*/
/*        position: absolute;*/
/*        background: lightgray;*/
/*        border-radius: 10px;*/
/*        padding: 5px;*/
/*        color: white;*/
/*        top: 4px;*/
/*    }*/
/*    .apbct-tooltip--arrow{*/
/*        position: absolute;*/
/*        top: 0px;*/
/*        left: 15px;*/
/*        width: 10px;*/
/*        height: 10px;*/
/*        background: #5a5a5a;*/
/*        transform: rotate(135deg);*/
/*    }*/

.apbct-real-user-wrapper {
    display: inline-flex;
    color: #444;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.apbct-real-user-wrapper-woo {
    display: inline;
    align-items: center;
    color: #444;
    font-size: 14px;
}

.apbct-real-user-author-name{
    display: inline-flex;
}

.apbct-real-user-badge {
    display: inline-flex;
    background: url('images/real_user.svg') no-repeat;
    background-size:15px 15px;
    margin-left: 3px;
    margin-right: 3px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: relative;
}

.apbct-real-user-popup {
    display: none;
    position: absolute;
    width: 200px;
    top: 10px;
    left: 20px;
    padding: 10px;
    font-weight: normal;
    background: white;
    border: 1px #ccc solid;
    border-radius: 5px;
    box-shadow: 5px 5px 24px -11px #444;
    z-index: 1000;
    cursor: default;
}

@media (min-width: 768px) {
    .apbct-real-user-popup {
        width: max-content;
    }
    .apbct-real-user-title {
        width: max-content;
    }
    .apbct-real-user-popup-header {
        margin: 2px 0 2px 0;
        font-weight: bolder;
    }
    .apbct-real-user-popup-text {
        user-select: all;
        margin: 2px 0 2px 0;
    }
}

#honeypot-field-url {
    display: none !important;
}
.comment-form-cookies-consent {
    width:100%;
    overflow: hidden;
}
.wc_apbct_email_id {
    display: none !important;
}
.um-form input[type=text].apbct_special_field,
label.apbct_special_field,
input[class*='apbct'].apbct_special_field{
    display: none !important;
}

.apbct-email-encoder{
    position: relative;
}
.apbct-tooltip{
    display: none;
    position: inherit;
    margin-top: 5px;
    left: 5px;
    background: lightgray;
    border-radius: 5px;
    opacity: .9;
}
    .apbct-tooltip--text{
        position: sticky;
        background: lightgray;
        padding: 10px;
        border-radius: 5px;
        width: max-content;
    }
    .apbct-tooltip--arrow{
        position: absolute;
        background: lightgray;
        width: 10px;
        height: 10px;
        top: -5px;
        left: 10px;
        transform: rotate(135deg);
    }

.apbct-trusted-text--div{
    font-size: small !important;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 2pc;
}

.apbct-trusted-text--center{
    font-size: small !important;
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 2pc;
}

.apbct-trusted-text--label{
    font-size: small !important;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 5px 0 5px 0;
}

.apbct-trusted-text--label_left{
    font-size: small !important;
    display: inline-block;
    text-align: left;
    padding: 5px 0 5px 0;
}

.apbct-trusted-text--span{
    display: inline-block;
}

.apbct-popup-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.apbct-popup {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 20px;
    width: 360px;
    margin-left: -200px;
    background: #fff;
    border: 1px solid;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
}

.apbct-iframe-preloader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: apbctIframePreloaderRotate 1s linear infinite
}

.apbct-iframe-preloader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: apbctIframePreloaderPrixClipFix 2s linear infinite ;
}

@keyframes apbctIframePreloaderRotate {
    100%   {transform: rotate(360deg)}
}

@keyframes apbctIframePreloaderPrixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.apbct_form_decoration_header__content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.apbct_form_decoration_header__content svg {
    position: absolute;
    width: 600px;
}
.apbct_form_decoration_header__text {
    display: block;
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    z-index: 1;
    padding-bottom: 12px;
}
.apbct_holiday_decoration {
    background: url('images/holiday_bg.svg') repeat;
    background-size: 100%;
    position: relative;
}
.apbct_holiday_decoration form {
    position: relative;
    z-index: 1;
}
.apbct_holiday_decoration:before, .apbct_holiday_decoration:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 100%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 50%;
    z-index: 0;
}
.apbct_holiday_decoration:before {
    left: 0;
    background-image: url('images/flag-left.svg');
    background-position-x: left;
}
.apbct_holiday_decoration:after {
    right: 0;
    background-image: url('images/flag-right.svg');
    background-position-x: right;
}
