.apbct-real-user-wrapper {
    display: inline-flex;
    color: #000;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.apbct-real-user-wrapper-woo {
    display: inline;
    align-items: center;
    color: #444;
    font-size: 14px;
}

.apbct-real-user-author-name{
    display: inline-flex;
}

.apbct-real-user-badge {
    display: inline-flex;
    margin-left: 12px;
    margin-right: 3px;
    height: 15px;
    cursor: pointer;
    position: relative;
}

.apbct-real-user-popup {
    position: absolute;
    width: auto;
    height: max-content;
    margin-left: 21px;
    padding: 16px 16px 16px 16px;
    font-weight: normal;
    background: white;
    border: 1px #ccc solid;
    border-radius: 4px;
    box-shadow: 5px 5px 24px -11px #444;
    z-index: -1;
    cursor: default;
    opacity: 0;
    transition-property: opacity, z-index;
    transition-delay: 1s;
}

.apbct-real-user-badge:hover .apbct-real-user-popup {
    z-index: 1;
    opacity: 1;
    transition-delay: 0s;
}

@media (min-width: 768px) {
    .apbct-real-user-popup {
        position: absolute;
    }
}

.apbct-real-user-title {
    display: grid;
    gap: 4px!important;
}

.apbct-real-user-popup-content_row {
    display: flex;
    align-items: center;
    gap: 1px;
}

.apbct-real-user-popup-img {
    align-self: start;
    margin: 0!important;
    height: max-content;
    vertical-align: center;
}

.apbct-real-user-popup-header {
    font-weight: bolder;
    margin: 0;
}

@media (min-width: 768px) {
    .apbct-real-user-popup {
        /*width: max-content;*/
    }
    .apbct-real-user-title {
        width: max-content;
    }
    .apbct-real-user-popup-text {
        display: inline-block;
        user-select: all;
        margin: 2px 0 2px 0;
        background: white!important;
        color: black!important;
    }
}

@media (max-width: 768px) {
    .apbct-real-user-popup {
        width: 70vw;
        left: -100px;
        top: 20px;
        margin-left: 0;
    }
}

#honeypot-field-url {
    display: none !important;
}
.comment-form-cookies-consent {
    width:100%;
    overflow: hidden;
}
.wc_apbct_email_id {
    display: none !important;
}
.um-form input[type=text].apbct_special_field,
label.apbct_special_field,
input[class*='apbct'].apbct_special_field{
    display: none !important;
}

.apbct-tooltip{
    display: none;
    position: inherit;
    margin-top: 5px;
    left: 5px;
    background: lightgray;
    border-radius: 5px;
    opacity: .9;
}
    .apbct-tooltip--text{
        position: sticky;
        background: lightgray;
        padding: 10px;
        border-radius: 5px;
        width: max-content;
    }
    .apbct-tooltip--arrow{
        position: absolute;
        background: lightgray;
        width: 10px;
        height: 10px;
        top: -5px;
        left: 10px;
        transform: rotate(135deg);
    }

.apbct-trusted-text--div{
    font-size: small !important;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 2pc;
}

.apbct-trusted-text--center{
    font-size: small !important;
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 2pc;
}

.apbct-trusted-text--label{
    font-size: small !important;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 5px 0 5px 0;
}

.apbct-trusted-text--label_left{
    font-size: small !important;
    display: inline-block;
    text-align: left;
    padding: 5px 0 5px 0;
}

.apbct-trusted-text--span{
    display: inline-block;
}

.apbct-popup-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.apbct-popup {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 20px;
    width: 360px;
    margin-left: -200px;
    background: #fff;
    border: 1px solid;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
}

.apbct-iframe-preloader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: apbctIframePreloaderRotate 1s linear infinite
}

.apbct-iframe-preloader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: apbctIframePreloaderPrixClipFix 2s linear infinite ;
}
/*Fix The Real Person popup for theme Spacious By ThemeGrill */
.comments-area .comment-list article .comment-author {
    overflow: visible !important;
}

@keyframes apbctIframePreloaderRotate {
    100%   {transform: rotate(360deg)}
}

@keyframes apbctIframePreloaderPrixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.apbct-check_email_exist-load, .apbct-check_email_exist-good_email, .apbct-check_email_exist-bad_email {
    z-index: 9999;
    margin: 0 6px 0 6px;
    transition: none !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    cursor: pointer;
}

.apbct-check_email_exist-load {
    background-size: contain;
}

.apbct-check_email_exist-block {
    position: fixed;
    display: block;
}

.apbct-check_email_exist-load {
    background-image: url(../css/images/checking_email.gif);
}

.apbct-check_email_exist-good_email {
    background-image: url(../css/images/good_email.svg);
}

.apbct-check_email_exist-bad_email {
    background-image: url(../css/images/bad_email.svg);
}

.apbct-check_email_exist-popup_description {
    display: none;
    position: fixed;
    padding: 2px;
    border: 1px solid #E5E8ED;
    border-radius: 16px 16px 0px 16px;
    background: #FFFFFF;
    background-position-x: right;
    font-size: 14px;
    text-align: center;
    transition: all 1s ease-out;
}

@media screen and (max-width: 782px) {
    .apbct-check_email_exist-popup_description {
        width: 100%;
    }
}