/*.apbct-email-encoder{*/
/*    position: relative;*/
/*}*/
/*.apbct-tooltip{*/
/*    position: relative;*/
/*}*/
/*    .apbct-tooltip--text{*/
/*        position: absolute;*/
/*        background: lightgray;*/
/*        border-radius: 10px;*/
/*        padding: 5px;*/
/*        color: white;*/
/*        top: 4px;*/
/*    }*/
/*    .apbct-tooltip--arrow{*/
/*        position: absolute;*/
/*        top: 0px;*/
/*        left: 15px;*/
/*        width: 10px;*/
/*        height: 10px;*/
/*        background: #5a5a5a;*/
/*        transform: rotate(135deg);*/
/*    }*/

#honeypot-field-url {
    display: none !important;
}
.comment-form-cookies-consent {
    width:100%;
    overflow: hidden;
}
.wc_apbct_email_id {
    display: none !important;
}
.um-form input[type=text].apbct_special_field,
input[class*='apbct'].apbct_special_field{
    display: none !important;
}

.apbct-email-encoder{
    position: relative;
}
.apbct-tooltip{
    display: none;
    position: inherit;
    margin-top: 5px;
    left: 5px;
    background: lightgray;
    border-radius: 5px;
    opacity: .9;
}
    .apbct-tooltip--text{
        position: sticky;
        background: lightgray;
        padding: 10px;
        border-radius: 5px;
        width: max-content;
    }
    .apbct-tooltip--arrow{
        position: absolute;
        background: lightgray;
        width: 10px;
        height: 10px;
        top: -5px;
        left: 10px;
        transform: rotate(135deg);
    }

.apbct-popup-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.apbct-popup {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 20px;
    width: 360px;
    margin-left: -200px;
    background: #fff;
    border: 1px solid;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
}