#honeypot-field-url {
    display: none !important;
}
.comment-form-cookies-consent {
    width:100%;
    overflow: hidden;
}
.wc_apbct_email_id {
    display: none !important;
}
.um-form input[type=text].apbct_special_field,
input[class*='apbct'].apbct_special_field{
    display: none !important;
}