#honeypot-field-url {
    display: none !important;
}
.comment-form-cookies-consent {
    width:100%;
    overflow: hidden;
}
.wc_apbct_email_id {
    display: none !important;
}
.um-form input[type=text].apbct_special_field,
label[id*='apbct_label_id'].apbct_special_field,
input[class*='apbct'].apbct_special_field{
    display: none !important;
}

.apbct-tooltip{
    display: none;
    position: inherit;
    margin-top: 5px;
    left: 5px;
    background: lightgray;
    border-radius: 5px;
    opacity: .9;
}
    .apbct-tooltip--text{
        position: sticky;
        background: lightgray;
        padding: 10px;
        border-radius: 5px;
        width: max-content;
    }
    .apbct-tooltip--arrow{
        position: absolute;
        background: lightgray;
        width: 10px;
        height: 10px;
        top: -5px;
        left: 10px;
        transform: rotate(135deg);
    }

.apbct-trusted-text--div{
    font-size: small !important;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 2pc;
}

.apbct-trusted-text--center{
    font-size: small !important;
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 2pc;
}

.apbct-trusted-text--label{
    font-size: small !important;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 5px 0 5px 0;
}

.apbct-trusted-text--label_left{
    font-size: small !important;
    display: inline-block;
    text-align: left;
    padding: 5px 0 5px 0;
}

.apbct-trusted-text--span{
    display: inline-block;
}

.apbct-popup-fade:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.apbct-popup {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 20px;
    width: 360px;
    margin-left: -200px;
    background: #fff;
    border: 1px solid;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
}

.apbct-check_email_exist-load, .apbct-check_email_exist-good_email, .apbct-check_email_exist-bad_email {
    z-index: 9999;
    transition: none !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    cursor: pointer;
}

.apbct-check_email_exist-load {
    background-size: contain;
}

.apbct-check_email_exist-block {
    position: fixed;
    display: block;
}

.apbct-check_email_exist-load {
    background-image: url(../css/images/checking_email.gif);
}

.apbct-check_email_exist-good_email {
    background-image: url(../css/images/good_email.svg);
}

.apbct-check_email_exist-bad_email {
    background-image: url(../css/images/bad_email.svg);
}

.apbct-check_email_exist-popup_description {
    display: none;
    position: fixed;
    padding: 2px;
    border: 1px solid #E5E8ED;
    border-radius: 16px 16px 0px 16px;
    background: #FFFFFF;
    background-position-x: right;
    font-size: 14px;
    text-align: center;
    transition: all 1s ease-out;
}

@media screen and (max-width: 782px) {
    .apbct-check_email_exist-popup_description {
        width: 100%;
    }
}

.ct-encoded-form {
    display: none;
}

.ct-encoded-form-loader {
    display: block;
    width: 48px;
    height: 48px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: ct-encoded-form-loader-spin 1s linear infinite;
    margin: auto;
}

@keyframes ct-encoded-form-loader-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ct-encoded-form-forbidden {
    display: block;
    border: 1px solid red;
    padding: 10px;
    background: #fdd;
    color: red;
    font-weight: bold;
}

/*Fix The Real Person popup for theme Spacious By ThemeGrill */
.comments-area .comment-list article .comment-author {
    overflow: visible !important;
}
