<div class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-wrapper">
    <div class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-author-name">{{TRP_COMMENT_AUTHOR_NAME}}</div>
    <div class="apbct-real-user-badge" onmouseover="{{TRP_POPUP_OPEN_SCRIPT}}" onmouseout="{{TRP_POPUP_CLOSE_SCRIPT}}">
        <img src="{{TRP_LINK_IMG_PERSON}}" class="apbct{{TRP_STYLE_CLASS_ADMIN_IMG}}-real-user-popup-img" style="align-self: center;">
        <div class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-popup apbct-trp-popup-desktop" id="{{TRP_POPUP_COMMENT_ID}}">
            <div class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-title">
                <p class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-popup-header">{{TRP_POPUP_HEADER}}</p>
                <div class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-popup-content_row">
                    <div>
                        <img src="{{TRP_LINK_IMG_PERSON}}" class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-popup-img">
                    </div>
                    <div>
                        <span class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-popup-text">{{TRP_POPUP_TEXT_PERSON}}</span>
                    </div>
                </div>
                <div class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-popup-content_row">
                    <div>
                        <img src="{{TRP_LINK_IMG_SHIELD}}" class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-popup-img">
                    </div>
                    <div>
                        <span class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-popup-text">{{TRP_POPUP_TEXT_SHIELD}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-popup apbct-trp-popup-mob" id="{{TRP_POPUP_COMMENT_ID}}">
        <div class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-title">
            <p class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-popup-header">{{TRP_POPUP_HEADER}}</p>
            <div class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-popup-content_row">
                <img src="{{TRP_LINK_IMG_PERSON}}" class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-popup-img">
                <span class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-popup-text">{{TRP_POPUP_TEXT_PERSON}}</span>
            </div>
            <div class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-popup-content_row">
                <img src="{{TRP_LINK_IMG_SHIELD}}" class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-popup-img">
                <span class="apbct{{TRP_STYLE_CLASS_ADMIN}}-real-user-popup-text">{{TRP_POPUP_TEXT_SHIELD}}</span>
            </div>
        </div>
    </div>
</div>
